body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.bg-main {
    background-color: #74C69D;
}

.bg-secondary {
    background-color: #F5F5F5;
}