.container {
    width: 100%;
}

.container > .row {
    display: flex;
    align-items: center;
    width: 1440px;
    margin: 0px calc(50% - 720px);
}

.text-block  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    gap: 20px;
    color: #fff;
}

.tittle {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
}

.main-tittle {
    font-size: 40px;
}

.container > .row {
    justify-content: space-between;
    gap: 10px;
}


.button {
    display:inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #F5F5F5;
    color: #000;
    line-height: 1em;
    text-transform:capitalize;
    text-decoration: none;
    border-radius: 0.4em;
    border: 0.1em solid #F5F5F5;
    user-select: none;
}

.container > .partners {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    margin-top: 50px;
}

.partners >  .text-block * {
    color: black;
}

.main-home .tittle {
    color: #74C69D;
}

.partners .partnerlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 68px;
}

.main-home .button {
    background-color: black;
    color: white;
    padding: 13px 29.5px 10px 29.5px;
}